<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ettNextGen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
				<key>dateExpires</key>
				<string>2022/2/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AudioLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpandableCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LFPhoneInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PopMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyContextMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E7BD87B073515D1E25FBDE7FF8692F63049EB8E</string>
						<key>dateExpires</key>
						<string>2022/2/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5ZJ5W7ZL3</string>
						<key>name</key>
						<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N5ZJ5W7ZL3.com.ett.im.iphone</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N5ZJ5W7ZL3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ettNextGen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fc400fb4-280a-4422-86ec-3df76863ffed</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ett.im.iphone</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N5ZJ5W7ZL3</string>
				<key>name</key>
				<string>Beijing Etiantian Net Educational Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
